Repository Lundstrong/SmartOAuth, changes with the labels that .github/labeler.yml gives for each.
All labels: Discord, GitHub, Docs

.github/labeler.yml:

Discord:
  - src/discord/**/*

GitHub:
  - src/github/**/*

Docs:
  - src/github/**/*

Docs build for branch master: 4283e7548264ba1ad9962fc6bf84ba9c87ac1ecd
  master.json
Labels: none

StandardJS Fixes
  src/discord/discordauth.js
  src/discord/discorduser.js
  src/github/githubauth.js
  src/github/githubuser.js
  src/index.js
Labels: Discord, GitHub, Docs

Docs build for branch master: ab49d453403bee595f6041fa7fd14082b50010c2
  master.json
Labels: none

Add StandardJS Tests
  package.json
Labels: none

Docs build for branch master: 728ea586609a899b2982f7270f0cb5df7b2bbaf8
  master.json
Labels: none

Create package-publish.yml
  .github/workflows/package-publish.yml
Labels: none

Docs build for branch master: 0b643436c848487dafc64d88c28c6a182c0ad955
  master.json
Labels: none

Fix JSDOC Types
  src/github/githubuser.js
Labels: GitHub, Docs

Docs build for branch master: a9e5a6a384751277ffb5b830f328138040d201ea
  master.json
Labels: none

Add license scan report and status
  README.md
Labels: none

Updated README
  README.md
  docs/general/welcome.md
Labels: none

Docs build for branch master: 5521834591861dffc87ab7fab393d678ebf6cff7
  master.json
Labels: none

Changelog Update
  README.md
  docs/examples/comingsoon.md
  docs/general/changelog.md
  docs/index.yml
Labels: none

Docs build for branch master: 9f48b1f439ed0afc4a8de60ffc2b87ff664fd43f
  master.json
Labels: none

Docs build for tag v1.1.0: 9f48b1f439ed0afc4a8de60ffc2b87ff664fd43f
  v1.1.0.json
Labels: none

Delete v1.1.0.json
  v1.1.0.json
Labels: none

Update package-publish.yml
  .github/workflows/package-publish.yml
Labels: none

Docs build for branch master: 61592118030bb7e7aceb24b2da41a8f3b1b9672b
  master.json
Labels: none

Docs build for tag v1.1.0: 61592118030bb7e7aceb24b2da41a8f3b1b9672b
  v1.1.0.json
Labels: none

Delete v1.1.0.json
  v1.1.0.json
Labels: none

Update Version
  .github/workflows/package-publish.yml
  package.json
Labels: none

Docs build for branch master: 502a1bb8c7e6e13e8ad3aaeea0d7be7d5d2bfe08
  master.json
Labels: none

Docs build for tag v1.1.0: 502a1bb8c7e6e13e8ad3aaeea0d7be7d5d2bfe08
  v1.1.0.json
Labels: none

Docs build for tag v1.0.0: 502a1bb8c7e6e13e8ad3aaeea0d7be7d5d2bfe08
  v1.0.0.json
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Docs build for branch master: 7f4e74f83e406517b2ebe0f92e4a8c03395a34fd
  master.json
Labels: none

Add FOSSA to ReadME
  README.md
  docs/general/welcome.md
Labels: none

Docs build for branch master: e68764a1bfaa5aaa54a161ccbafb89acb358e487
  master.json
Labels: none

Add Scopes, GetURL & Remove old API
  src/discord/discordauth.js
  src/github/githubauth.js
Labels: Discord, GitHub, Docs

Update Example Docs, Remove Old Images
  docs/SMSBannerC.png
  docs/examples/adddiscord.md
  docs/examples/addgithub.md
  docs/examples/comingsoon.md
  docs/examples/createserver.md
  docs/index.yml
Labels: none

Update for Release
  docs/general/changelog.md
  package.json
Labels: none

Docs build for branch master: 57cee05ee7f18248877edefcbd453b25fd2eba75
  master.json
Labels: none

Docs build for tag v1.1.1: 57cee05ee7f18248877edefcbd453b25fd2eba75
  v1.1.1.json
Labels: none

FIx Docs
  src/github/githubauth.js
Labels: GitHub, Docs

Docs build for branch master: 7112312d3bca4e9abf77f79a36061e5935453d97
  master.json
Labels: none

Docs build for tag v1.1.1: 7112312d3bca4e9abf77f79a36061e5935453d97
  v1.1.1.json
Labels: none

Docs build for branch master: 49a8cb527a9a7b6b2f08631fe93dfce95023f10e
  master.json
Labels: none

Docs build for branch master: 39d8dd3d46fb818139afbe1a4f9f5efc1c0b4650
  master.json
Labels: none

Remove old LICENSE
  LICENSE
Labels: none

Docs build for branch master: dd240c5ab044ce84c2f4b2ec353723fff9477a7b
  master.json
Labels: none
